name: Lint & Build

on:
  push:
    branches:
      - '**'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'
  pull_request:

jobs:
  lint:
    name: Build & Lint
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
            arch: x64
          - os: windows-latest
            platform: windows
            arch: x64
          - os: macos-latest
            platform: darwin
            arch: arm64
    runs-on: ${{ matrix.os }}

    continue-on-error: false
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v5
        # checkout first without cache,
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          architecture: ${{ matrix.arch }}
        # so that we can run corepack enable and get yarn 2+ set up
      - run: corepack enable
        env:
          CI: true
        # checkout again, now with cache enabled
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'
      - run: yarn install --immutable
        env:
          CI: true
      - run: yarn build
        env:
          CI: true
      - run: |
          yarn lint
        env:
          CI: true
